$primary-font: 'Cambria, Cochin, Georgia, Times, "Times New Roman", serif';
$primary-color: lavender;
$secondary-color: white;
$border-color: black;
$text-color: black;
$link-color: green;
$link-hover-color: red;
$button-color: red;
$button-hover-color: whitesmoke;
$button-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
$breakpoint: 768px;