@import 'variables';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    padding: 5rem;
    background-color: $primary-color;
}

#app {
    border: 1px solid $border-color;
    border-radius: 2rem;
    padding: 2rem;
    background-color: $secondary-color;
}

h1 {
    text-align: center;
    margin-bottom: 0.8rem;
}

.taskText {
    font-size: 1.1rem;
    margin: 1rem auto;
}

.addTaskBtn {
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 0.6rem;
    transition: 0.1s ease-in-out;
    
    &:hover {
        color: $link-color;
        box-shadow: $button-shadow;
    }
}

.task-item {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem auto;
    padding: 0.6rem;
    font-size: 1.4rem;
    border-bottom: 1px solid gray;   
}

.checkmark {
    color: red;
    cursor: pointer;
    
    &:hover {
        color: $link-hover-color;
    }
}

.checked .checkmark {
    color: $link-color;
    
    &:hover {
        color: red;
    }
}

.delete-button {
    font-weight: bold;
    padding: 0.1rem;
    border-radius: 0.6rem;
    color: $button-color;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    
    &:hover {
        background-color: $button-color;
        color: $button-hover-color;
        box-shadow: $button-shadow;
    }
}

@include respond-to($breakpoint) {

    body {
        padding: 2rem;
    }

    #app {
        margin-top: 2rem;
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .taskText {
        font-size: 1.5rem;
        margin-left: 2.5rem;
        width: 12rem;
    
    }

    .addTaskBtn {
        font-size: 1rem;
        margin: 1rem 6rem 2rem ;
        display: block;
        
    }

    .task-item {
        font-size: 1.5rem;
    }

    .delete-button {
        font-size: 0.9rem;
    }

    .checkmark {
        color: red;
        cursor: pointer;
        
        &:hover {
            color: $link-hover-color;
        }
    }
    
    .checked .checkmark {
        color: $link-color;
        
        &:hover {
            color: red;
        }
    }
}